$color-primary: hsl(25, 97%, 53%);

$color-neutralwhite: hsl(0, 0%, 100%);
$color-neutral-light: hsl(217, 12%, 63%);
$color-neutral-medium: hsl(216, 12%, 54%);
$color-neutral-dark: hsl(213, 19%, 18%);
$color-neutral-darkest: hsl(216, 12%, 8%);

$fs-default: 15px;

$ff-default: "Overpass", sans-serif;

$fw-default: 400;
$fw-bold: 700;
